DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
TIME_ZONE=Europe/Moscow
SITE_BRAND_NAME=Grachev Studio
APP_BASE_URL=http://127.0.0.1:8000
INTERNAL_API_TOKEN=change-me
FIELD_ENCRYPTION_KEY=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=587
EMAIL_HOST_USER=your-mail@yandex.ru
EMAIL_HOST_PASSWORD=your-password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=your-mail@yandex.ru
NOTIFICATION_EMAIL=grachevilia09@yandex.ru
BRIEF_NOTIFICATION_EMAIL=grachevilia09@yandex.ru
